---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portfolio de David Menéndez - Desarrollador y programador web"
  description="Contrata a David Menéndez Blanco para crear tu aplicación web. Especializado en crear aplicaciones con tecnologías modernas y buenas prácticas"
>
  <main>
	
  </main>
</Layout>

<style></style>
