<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#0077B5] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 md:w-1/2"
  >
    <p>
      Me llamo David Menéndez. Empecé en la programación con un tutorial de java
      de píldoras informáticas, de esto hace 3 años. Desde entonces <strong
        >he estado dedicando mi tiempo a aprender y desarrollar mis habilidades.</strong
      >
    </p>

    <p>
      Algunas de mis especialidades incluyen <strong
        >aprender rápidamente nuevas aptitudes y tecnologías, solucionar
        problemas de manera eficiente así como diseñar interfaces intuitivas y
        funcionales aplicando principios responsive.
      </strong>
    </p>

    <p>
      Fuera del mundo digital, soy un apasionado de la naturaleza Disfruto mi
      tiempo libre en la montaña con mis perros, explorando senderos o
      simplemente leyendo un buen libro bajo el sol. <strong>
        <em class="italic"
          >Estas experiencias al aire libre no solo me recargan, sino que
          también inspiran mi trabajo.
        </em>
      </strong>
    </p>
  </div>

  <div class="order-1 md:order-2">
    <div class="relative w-64 h-64 md:w-80 md:h-80">
      <img
        src="/about.webp"
        alt="David Menéndez Blanco"
        class="w-full h-full object-cover rounded-2xl shadow-lg transform rotate-3"
        style="object-position: 50% 50%"
      />
    </div>
  </div>
</article>
