---
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
---

<footer class="w-full bg-gray-900">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <!--Grid-->
    <div
      class="py-16 flex justify-between items-center flex-col gap-8 lg:flex-row"
    >
      <a
        href="https://www.linkedin.com/in/david-menendez-blanco-056a18252/"
        class="flex justify-center"
      >
        <img
          src="/logo.png"
          alt="Logo DavCode - David Menéndez Blanco"
          class="h-12"
        />
      </a>
      <ul
        class="text-md text-center sm:flex items-cente justify-center gap-14 lg:gap-10 xl:gap-14"
      >
        <li>
          <a href="#top" class="text-white hover:text-gray-400 transition-all duration-300">Inicio</a>
        </li>
        <li class="sm:my-0 my-2">
          <a href="#projects" class="text-white hover:text-gray-400 transition-all duration-300"
            >Proyectos</a
          >
        </li>
        <li>
          <a href="#experience" class="text-white hover:text-gray-400 transition-all duration-300"
            >Experiencia</a
          >
        </li>
        <li class="sm:my-0 my-2">
          <a href="#education" class="text-white hover:text-gray-400 transition-all duration-300"
            >Estudios</a
          >
        </li>
        <li>
          <a href="#contact" class="text-white hover:text-gray-400 transition-all duration-300">Contacto</a>
        </li>
      </ul>
      <div class="flex space-x-4 sm:justify-center">
        <a
          href="mailto:davidblanco1993@gmail.com"
          class="w-9 h-9 rounded-full bg-gray-800 flex justify-center items-center hover:bg-zinc-700/90 transition-all duration-300"
        >
          <MailIcon class="size-[1rem]" />
        </a>
        <a
          target="_blank"
          href="https://github.com/DavCode46"
          class="w-9 h-9 rounded-full bg-gray-800 flex justify-center items-center hover:bg-zinc-700/90 transition-all duration-300"
        >
          <GithubIcon class="size-[1rem] text-white" />
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/david-menendez-blanco-056a18252/"
          class="w-9 h-9 rounded-full bg-gray-800 flex justify-center items-center hover:bg-zinc-700/90 transition-all duration-300"
        >
          <LinkedInIcon class="size-[1rem] text-white" />
        </a>
      </div>
    </div>
    <!--Grid-->
    <div class="py-7 border-t border-gray-700">
      <div class="flex items-center justify-center">
        <span class="text-gray-400"
          >©<a
            href="https://www.linkedin.com/in/david-menendez-blanco-056a18252/"
            >DavCode</a
          >2024.</span
        >
      </div>
    </div>
  </div>
</footer>
