---
import HtmlIcon from '../icons/HtmlIcon.astro'
import CssIcon from '../icons/CssIcon.astro'
import TailwindIcon from '../icons/TailwindIcon.astro'
import JsIcon from '../icons/JsIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'
import NodeIcon from '../icons/NodeIcon.astro'
import ExpressIcon from '@/icons/ExpressIcon.astro'
import AwsIcon from '@/icons/AwsIcon.astro'
import JavaIcon from '@/icons/JavaIcon.astro'
---


<!-- Sección de Tecnologías -->
<div class="mt-8">
    <h2 class="text-2xl font-bold text-gray-800 text-center sm:text-left">Tech Stack</h2>
    <div class="flex flex-wrap justify-center sm:justify-start gap-4 mt-4">
      <div class="flex items-center justify-center space-x-2">
        <HtmlIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">HTML</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <CssIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">CSS</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <TailwindIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">TailwindCSS</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <JsIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">JavaScript</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <ReactIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">React</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <NodeIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">Node.js</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <ExpressIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">Express.js</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <AwsIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">AWS</span>
      </div>
      <div class="flex items-center justify-center space-x-2">
        <JavaIcon class="w-6 h-6" />
        <span class="text-md text-gray-700">Java</span>
      </div>
    </div>
  </div>