<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-[.1rem] 
  text-gray-800 transition bg-gray-100 border border-gray-300 
  rounded-full  text-md group max-w-fit 
  hover:bg-blue-200 hover:border-blue-200 hover:text-gray-800
  focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 
  active:bg-black"
>
  <slot />
</a>
